# FUNCTIONS:

In [1]:
#Why we need functions?

#task1

data = 'PythonCourse'

if data == data[::-1]:
    print("It is a palindrome")
else:
    print("Not a palindrome")
    
#task2

a=10
b=20
print(a+b)

#task1

data = 'PythonCourse'

if data == data[::-1]:
    print("It is a palindrome")
else:
    print("Not a palindrome")
    
#task2

a=10
b=20
print(a+b)

Not a palindrome
30
Not a palindrome
30

Problem with above code-

Code should be written in understandable manner.
Code should be in minimum possible line.

2 things in function:

Write once and call it multiple times

1. Function Definition - Define our task that we have to do.
2. Function Call - Calling the function.

#Syntax:

1. Function Definition:
    
     def function_name(parameter):
            statement 1
            statement 2
            .
            .
            return statement 1
        
Parameter and return are optional.

2. Function Call:

    function_name(args)
    
   If my args are present, we need to provide parameters to call.

In [3]:
a = 10 
b = 20
print(a+b)

def add_num():
    a = 10
    b = 20
    print(a+b)

30

In [4]:
add_num()

30

In [12]:
# def add_number():
#     x = int(input("enter a no.:"))
#     y = int(input("enter 2nd no."))
#     print(x+y)

In [13]:
# add_number()

enter a no.:20
enter 2nd no.30
50

In [2]:
def add_number1(x,y):
    print(x+y)
    #return none

In [3]:
output = add_number1(10,20)
print(output)

30
None

In [4]:
def palindrome(data):
    if data == data[::-1]:
        print("palindrome")
    else:
        print("not a palindrome")

In [5]:
palindrome("abcba")
add_number1(400,200)

palindrome
600

In [6]:
palindrome("dwixhihx")
add_number1(400,20020)

not a palindrome
20420

In [10]:
def even_odd(num):
    if num%2 ==0:
        print("even")
        
    else:
        print("odd")
        

even_odd(4828)
even_odd(48984)

even
even

In [8]:
even_odd(786354)

even

Types of Arguments:

*No. of parameters and no.of arguments both should be equal.

*non-default argument should not follow default argument

1. Positional arguments
2. Default arguments
3. keyword arguments

In [18]:
#Positional Arguments:

def emp_details(emp_name, emp_sal, emp_age):
    print(" name:",emp_name)
    print(" salary:",emp_sal)
    print("age:",emp_age)

In [21]:
#emp_details("shriti", 300000, 24)
emp_details(40000, "hjhd", 39)

 name: 40000
 salary: hjhd
age: 39

In [22]:
#Default Arguments:

def emp_details(emp_name, emp_sal, emp_age, emp_loc='Goa'):
    print("name:",emp_name)
    print("salary:",emp_sal)
    print("age:",emp_age)
    print("loc:",emp_loc)

In [24]:
emp_details("ankita", 300000, 28)

 name: ankita
 salary: 300000
age: 28
loc: Pune

In [25]:

def emp_details(emp_name, emp_sal, emp_age, emp_loc='Goa'):
    print("name:",emp_name)
    print("salary:",emp_sal)
    print("age:",emp_age)
    print("loc:",emp_loc)
    
emp_details("ankita", 300000, 28,"Pune")

name: ankita
salary: 300000
age: 28
loc: Pune

In [26]:
def emp_details(emp_name, emp_sal, emp_age):
    print("name:",emp_name)
    print("salary:",emp_sal)
    print("age:",emp_age)
    print("loc:",emp_loc)
    
emp_details("ankita", 300000, 28,"Pune")

TypeError: emp_details() takes 3 positional arguments but 4 were given

In [27]:
def emp_details(emp_name, emp_sal, emp_age):
    print("name:",emp_name)
    print("salary:",emp_sal)
    print("age:",emp_age)
    
    
emp_details("ankita", 300000)

TypeError: emp_details() missing 1 required positional argument: 'emp_age'

In [36]:

def emp_details(emp_name, emp_sal, emp_loc='Goa', emp_age=67):
    print("name:",emp_name)
    print("salary:",emp_sal)
    print("age:",emp_age)
    print("loc:",emp_loc)
    
emp_details("ankita", 300000,'pune', 58)

name: ankita
salary: 300000
age: 58
loc: pune

In [37]:

def emp_details(emp_name, emp_sal, emp_loc='Goa', emp_age=67):
    print("name:",emp_name)
    print("salary:",emp_sal)
    print("age:",emp_age)
    print("loc:",emp_loc)
    
emp_details("ankita", 300000, 58)

name: ankita
salary: 300000
age: 67
loc: 58

In [38]:

def emp_details(emp_name, emp_sal, emp_loc='Goa', emp_age=67):
    print("name:",emp_name)
    print("salary:",emp_sal)
    print("age:",emp_age)
    print("loc:",emp_loc)
    
emp_details("ankita", 300000,)

name: ankita
salary: 300000
age: 67
loc: Goa

In [56]:
#Keyword Argument: positional argument should not follow keyword argument.


def emp_details(emp_name, emp_sal, emp_loc='Goa', emp_age=67):
    print("name:",emp_name)
    print("salary:",emp_sal)
    print("age:",emp_age)
    print("loc:",emp_loc)
    
emp_details(emp_name="jack",292993, Goa, 88)

SyntaxError: positional argument follows keyword argument (3068651920.py, line 9)

In [ ]:
def emp_details(name, sal, age):
    print(name)
    print(sal)
    print(age)
    
emp_details(age=90, name='jack', sal=56000)

In [58]:
def emp_details(name, sal, age):
    print(name)
    print(sal)
    print(age)
    
emp_details(90, name='jack', sal=56000)

TypeError: emp_details() got multiple values for argument 'name'

In [59]:
def emp_details(name, sal, age):
    print(name)
    print(sal)
    print(age)
    
emp_details(name='jack', sal=56000, 90)

SyntaxError: positional argument follows keyword argument (413213174.py, line 6)

In [61]:
def emp_details(name, sal, age):
    print(name)
    print(sal)
    print(age)
    
emp_details('jack', sal=56000, age=90)

jack
56000
90

In [62]:
emp_details(age=90,name='jack',sal = 56000)

jack
56000
90

Return Statement:

-return is optional for users.

-function is always having a return statement.

-if return statement is used then that will be returned

-if return statement is not written then default value will be none.

In [41]:
def add_number2(a,b):
    c=a+b
    return c

In [44]:
output=add_number2(10,399)
print(output)

409

In [47]:
def add_number2(a,b):
    c=a+b
    return [29, 49, 47]

add_number2(a,b)

[29, 49, 47]

In [48]:
def add_number2():
    #c=a+b
    return [29, 49, 47]

add_number2()

[29, 49, 47]

In [54]:
def sum_num(x,y):
    print(x+y)
    return(x,y)
    return(x+y)


a,b = sum_num(200,737)
print(a,b)

937
200 737

In [53]:
def sum_num(x,y):
    print(x+y)
    return(x,y)
    return(x+y)


sum_num(200,737)

937

(200, 737)

In [63]:
#RecursiveFunction: Function calls itself.

# 4! = 4*3*2*1

def factorials(num):
    if num==0:
        return 1
    else:
        return num*factorials(num-1)
    

factorials(4)

24