In [1]:
#Access Specifiers 
#provides the accessibility of the variables
#Implements data hiding

In [2]:
#public - accessible by everyone - inside the class and outside the class 
#protected - accessible to the class and its child classes - not accessible outside the class
#private - only accessible to that class where it is defined.

In [3]:
class Employee:
    company = 'ABC' # public 
    _department='IT' # protected(preceeding _)
    __salary=20000 #private(preceeding __)

In [4]:
e = Employee()

In [5]:
print(e.company)

ABC

In [6]:
print(e._department)

IT

In [7]:
#In python, there is no true protected access specifier

In [8]:
Employee.company

'ABC'

In [9]:
print(e.__salary)

AttributeError: 'Employee' object has no attribute '__salary'

In [10]:
e.__dict__

{}

In [11]:
dir(e)

['_Employee__salary',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_department',
 'company']

In [12]:
#__privatevar => _classname__var

In [13]:
print(e._Employee__salary)

20000

# Encapsulation

In [14]:
#Encapsulation -  Binding of data and methods
#Attributes of the class should not be accessible
#It promotes data integrity

In [15]:
e.company

'ABC'

In [16]:
e.company = 'XYZ'

In [17]:
print(e.company)

XYZ

In [18]:
class Employee:
    salary = 10000

In [19]:
e1 = Employee()

In [20]:
e1.salary = -10000

In [21]:
print(e1.salary)

-10000

In [22]:
# direct access is allowed

In [23]:
# To avoid direct usage of attribution , we can use Getter and Setter Methods.

In [24]:
class Employee:
    company = 'ABC'
    departments = ['marketing', 'IT']
    
    def __init__(self, empid, name, sal):
        self.e_id = empid
        self.n = name
        self.sal = sal
        
    def get_salary(self): #getter method
        return self.sal
    
    def set_salary(self, new_sal):#setter method
        self.sal = new_sal

In [25]:
emp1 = Employee(101, 'Carol', 250000)

In [26]:
print(emp1.get_salary())

250000

In [29]:
(emp1.set_salary(270000))

In [31]:
print(emp1.get_salary())

270000

In [32]:
emp1.sal = 30000

In [33]:
print(emp1.sal)

30000

In [34]:
class Employee:
    company = 'ABC'
    departments = ['marketing', 'IT']
    
    def __init__(self, empid, name, sal):
        self.e_id = empid
        self.n = name
        self.sal = sal
        
    def get_salary(self): #getter method
        return self.sal
    
    def set_salary(self, new_sal):#setter method
        
        if new_sal < 0:
            return 'salary cannot be -ve'
        else:
            self.sal = new_sal

In [38]:
emp1 = Employee(101, 'Carol', 250000)
print(emp1.sal)
emp1.set_salary(3000000)
print(emp1.get_salary())

250000
3000000

In [37]:
print(emp1.get_salary())

250000

In [39]:
class Employee:
    company = 'ABC'
    departments = ['marketing', 'IT']
    
    def __init__(self, empid, name, sal):
        self.e_id = empid
        self.n = name
        self.__sal = sal
        
    def get_salary(self): #getter method
        return self.__sal #private variable
    
    def set_salary(self, new_sal):#setter method
        
        if new_sal < 0:
            return 'salary cannot be -ve'
        else:
            self.__sal = new_sal

In [43]:
emp2 = Employee(101, 'Carol', 250000)
# print(emp1.sal)
# emp1.set_salary(3000000)
# print(emp1.get_salary())

In [44]:
print(emp2.__sal)

AttributeError: 'Employee' object has no attribute '__sal'

In [45]:
emp2.__dict__

{'e_id': 101, 'n': 'Carol', '_Employee__sal': 250000}

In [47]:
print(emp2.get_salary())

250000

In [48]:
emp2.__sal = 76676 #cannot assign any value from outside for private variable

In [49]:
print(emp2.get_salary())

250000

In [50]:
emp2.set_salary(3000000)

In [51]:
print(emp2.get_salary())

3000000

In [52]:
emp2.__dict__

{'e_id': 101, 'n': 'Carol', '_Employee__sal': 3000000, '__sal': 76676}

# Inheritance

In [53]:
#we can inherit attributes and methods of a class in another class

In [54]:
class Vehicle:
    company = 'Tata'
    
    def __init__ (self, mileage, fuel_capacity):
        self.m = mileage
        self.f = fuel_capacity
        
    def vehicle_details(self):
        return f'mileage of the vehicle is {self.m} and the fuel capacity is {self.f}'

In [55]:
v1 = Vehicle(40, 20)

In [56]:
v1.vehicle_details()

'mileage of the vehicle is 40 and the fuel capacity is 20'

In [57]:
class Car(Vehicle):
    pass

In [58]:
c1 = Car()

TypeError: Vehicle.__init__() missing 2 required positional arguments: 'mileage' and 'fuel_capacity'

In [75]:
class A:
    a = 100
    
    @classmethod
    def fun(cls):
        return cls.a

In [76]:
class B(A):
    pass

In [77]:
b1 = B()

In [78]:
b1.a

100

In [74]:
b1.fun()

100

In [ ]:
class Vehicle:
    company = 'Tata'
    
    def __init__ (self, mileage, fuel_capacity):
        self.m = mileage
        self.f = fuel_capacity
        
    def vehicle_details(self):
        return f'mileage of the vehicle is {self.m} and the fuel capacity is {self.f}'

In [ ]:
class Car(Vehicle):
    pass

In [79]:
c1 = Car(50, 15)

In [80]:
print(c1.company)

Tata

In [81]:
print(c1.vehicle_details())

mileage of the vehicle is 50 and the fuel capacity is 15

In [82]:
class Vehicle:
    company = 'Tata' #classVariable
    
    def __init__ (self, mileage, fuel_capacity):
        self.m = mileage
        self.f = fuel_capacity
        
    def vehicle_details(self):
        return f'mileage of the vehicle is {self.m} and the fuel capacity is {self.f}'
    
class Car(Vehicle):
    def __init__(self, seats):
        self.s = seats
        
    def car_details(self):
        return f'Car is {self.s} seater'

In [83]:
c2 = Car(4)

In [84]:
c2.company

'Tata'

In [85]:
# class A:
#     a
#     b
#     c
# class B(A):
#     d 
#     e
    
#     a 
#     b 
#     c

In [86]:
c2.vehicle_details()

AttributeError: 'Car' object has no attribute 'm'

In [93]:
class Vehicle:
    company = 'Tata' #classVariable
    
    def __init__ (self, mileage, fuel_capacity):
        self.m = mileage
        self.f = fuel_capacity
        
    def vehicle_details(self):
        return f'mileage of the vehicle is {self.m} and the fuel capacity is {self.f}'
    
class Car(Vehicle):
    def __init__(self, seats, mil, capa):
        self.s = seats
        super().__init__(mil, capa) # super keyword is to access the property of parent class
        #whatever the requirement is there just provide that argument.
        
    def car_details(self):
        print(Vehicle.vehicle_details(self))
        print(super().vehicle_details())
        print(self.vehicle_details())
        return f'Car is {self.s} seater with fuel capacity {self.f} and mileage {self.m}'

In [94]:
c3 = Car(4, 18, 40)
c3.car_details()

mileage of the vehicle is 18 and the fuel capacity is 40
mileage of the vehicle is 18 and the fuel capacity is 40
mileage of the vehicle is 18 and the fuel capacity is 40

'Car is 4 seater with fuel capacity 40 and mileage 18'

In [95]:
v1 = Vehicle(20, 50)

In [96]:
c3.car_details()

mileage of the vehicle is 18 and the fuel capacity is 40
mileage of the vehicle is 18 and the fuel capacity is 40
mileage of the vehicle is 18 and the fuel capacity is 40

'Car is 4 seater with fuel capacity 40 and mileage 18'

In [97]:
# multilevel 
# A-->B-->C

In [ ]:
class Vehicle:
    company = 'Tata' #classVariable
    
class B(Vehicle):
    dept_name = 'IT'
    
class C(B):