Anonymous Function:(function without name)-lambda function

Syntax:

lambda arguments: expression

1. lambda function small anonymous function.
2. lambda function can take any no. of arguments but can have only 1 expression.

In [1]:
def sum(a,b):
    return (a+b)

sum(10,40)

50

In [5]:
(lambda a,b : a+b)(19, 499)

518

In [4]:
x = (lambda a,b : a+b)(10, 40)
print(x)

50

In [7]:
def even_odd(num):
    if (num%2) == 0:
        return "even"
    else:
        return "odd"
    
even_odd(11)

'odd'

In [8]:
(lambda num : num%2 == 0)(11)

False

In [9]:
(lambda num : 'even' if num%2 ==0 else 'odd')(11)

'odd'

In [10]:
(lambda a, b, c, d, e: a*b*c*d*e)(20, 377, 37, 277, 28)

2163768880

Map()

A function that works for iterable data.

In [11]:
temp_c = [0, 22.5, 60, 200]

def fah(t):
    return (9/5)*t + 32

def cel(t):
    return (5/9)*(t-32)

fah(78)

172.4

In [13]:
list(map(fah,temp_c))

[32.0, 72.5, 140.0, 392.0]

In [15]:
list(map(lambda x:(9/5)*x + 32, temp_c ))

[32.0, 72.5, 140.0, 392.0]

In [17]:
temp_f = [675, 790, 255, 67, 88]
list(map(lambda x:(5/9)*(x-32), temp_f ))

[357.22222222222223,
 421.11111111111114,
 123.8888888888889,
 19.444444444444446,
 31.111111111111114]

In [21]:
a = [1, 2, 8, 5, 9]
b = [2, 7, 3, 6, 4]

out = [3, 9, 11, 11, 13]

list(map(lambda x,y:x+y, a,b))

[3, 9, 11, 11, 13]

Reduce function: 

takes 2 arguments
works on iterable data

sum, mean, smallest, largest

In [27]:
lst1 = [20, 49, 48, 38, 28, 290, 48, 3778, 2788]

from functools import reduce

reduce(lambda x,y:x if x>y else y, lst1) #largest value

3778

In [28]:
reduce(lambda x,y:x if x<y else y, lst1) #smallest value

20

In [30]:
reduce(lambda x,y:x+y, lst1) #summation

7087

In [31]:
reduce(lambda x,y:(x+y)/2, lst1) # average of list of data

2364.73828125

Filter Function:

This function needs to return bool value. This function applied on iterable data.

In [32]:
def num_check(num):
    if num%3 == 0:
        return True

lst2 = [9, 999, 36, 78, 35, 49]

list(filter(num_check, lst2))

[9, 999, 36, 78]

In [34]:
list(filter(lambda x:x%3==0, lst2))

[9, 999, 36, 78]

In [36]:
lst3 = ["priya1ww8@gmail.com",
       "shriya87@hotmail.com",
       "ankit288@yahoo.com",
       "divya788@gmail.com",
       "frankuy888@gmail.com"]

list(filter(lambda emails:'gmail.com' in emails, lst3))

#for username:

['priya1ww8@gmail.com',
 'shriya87@hotmail.com',
 'ankit288@yahoo.com',
 'divya788@gmail.com',
 'frankuy888@gmail.com']

In [42]:
list(map(lambda emails:emails.split('@')[0], lst3))

['priya1ww8', 'shriya87', 'ankit288', 'divya788', 'frankuy888']

# For else

for is having range, once the range is discarded then execute our else part.

In [49]:
# for i in range(0,10):
#     print(i)
#     if i==2:
#         return'game over'
# else:
#     print("over")

SyntaxError: 'return' outside function (1690730512.py, line 4)

In [52]:
for i in 'jhdjhsjd':
    print(i)
    if i == 'd':
        break
else:
    print('over')

over

In [ ]:
#Assignments:

1.Given attributes (x,y,r) for two circles. 
    Identify if the circles "intersect","touch" or "Not intersect" {1-mark}

2.Take a string as input and do the following without using any string functions:
    i. Remove if there are any duplicates
    ii. Remove if there are any special characters
    iii. Change the case of each character {2-marks}

3.Take a 2X2 square matrix as input 
     and calculate the determinant.
     Input -
     [[1,2],[3,4]]
    Output - (-2)
     One line solution for 2x2 matrix -{2-marks}