Tuple Packing & Unpacking:

In [1]:
#Packing:

emp_name = 'ankit'
emp_id = 'JB07'
emp_pin = 127689
emp_company = "Google"

emp_info = emp_name, emp_id, emp_pin, emp_company
print(emp_info, type(emp_info))

('ankit', 'JB07', 127689, 'Google') <class 'tuple'>

In [2]:
stud_id = 123
stud_name = 'ankita'
stud_class = 'XI'

stud_info = stud_id, stud_name,stud_class 
print(stud_info, type(stud_info))

(123, 'ankita', 'XI') <class 'tuple'>

In [11]:
#Unpacking of a tuple:

emp_info = ('ankit', 'JB07', 123498, 'Google')
emp_name, emp_id,emp_pin, emp_company = emp_info
print(emp_name, emp_id,emp_pin, emp_company)
print(type(emp_info))

ankit JB07 123498 Google
<class 'tuple'>

In [ ]:
#Unpacking of a tuple:

emp_info = ('ankit', 'JB07', 'Google')
emp_name, emp_id,emp_pin, emp_company = emp_info
print(emp_name, emp_id,emp_pin, emp_company)
print(type(emp_info))

# Dictionary :

In [12]:
#1. Dictionary is a collection of key,value pair.

#How to create a dictionary?

emp_data = {'name': "kriti", 'salary': 300000, 'age':36}
print(emp_data, type(emp_data))

{'name': 'kriti', 'salary': 300000, 'age': 36} <class 'dict'>

In [13]:
#user-input data

a = eval(input("enter data:"))
print(a,type(a))

enter data:{'name': "kriti", 'salary': 300000, 'age':36}
{'name': 'kriti', 'salary': 300000, 'age': 36} <class 'dict'>

In [16]:
#typecasting

'''dict function takes sequence of inner sequence where inner sequence is the pair 
of values out of which the 1st value is the key and the 2nd value is the value.'''

a = dict[1, 3, 5, 8]
print(a, type(a))

dict[1, 3, 5, 8] <class 'types.GenericAlias'>

In [25]:
a = dict([(1,[100, 3]), (2, "shreyansh"), (3,'(300, 90)'), (4,400)])
print((a), type(a))

b = dict([ [1,100] , [2,200] ])
print(b, type(b))

{1: [100, 3], 2: 'shreyansh', 3: '(300, 90)', 4: 400} <class 'dict'>
{1: 100, 2: 200} <class 'dict'>

In [27]:
lst = [1,2,3,4] 
a = dict([(1,lst),(2,20)])

print((a), type(a))

{1: [1, 2, 3, 4], 2: 20} <class 'dict'>

In [29]:
#Zip

a = [100, 399, 478, 367]
b= ["abc", "xyz", "sdh", "hdgc"]

#zip(iterable, iterable)

dict(zip(a,b))

{100: 'abc', 399: 'xyz', 478: 'sdh', 367: 'hdgc'}

In [30]:
#Zip

a = (100, 399, 478, 367)
b= ("abc", "xyz", "sdh", "hdgc")

#zip(iterable, iterable)

dict(zip(a,b))

{100: 'abc', 399: 'xyz', 478: 'sdh', 367: 'hdgc'}

In [31]:
#Zip

a = [100, 399, 478, 367]
b= ("abc", "xyz", "sdh", "hdgc")

#zip(iterable, iterable)

dict(zip(a,b))

{100: 'abc', 399: 'xyz', 478: 'sdh', 367: 'hdgc'}

In [36]:
#Zip

a = "ABCDE"
b= ("abc", "xyz", "sdh", "hdgc")

#zip(iterable, iterable)

print(dict(list(zip(a,b))))

{'A': 'abc', 'B': 'xyz', 'C': 'sdh', 'D': 'hdgc'}

In [37]:
#2. Keys cannot be duplicated:

a = {1:"abc", 2:200, 2:400, 3:"xyz"}
print(a)

{1: 'abc', 2: 400, 3: 'xyz'}

In [ ]:
1 : abc
2 : 400
3 : xyz

In [38]:
#3. Values can be duplicated.

In [39]:
#4. '''Dictionary is not a sequence data type, because we cannot do indexing,
    # slicing,concatenation, repetion'''
    
a = {1:"abc", 2:200, 2:400, 3:"xyz"}
print(a[0]) #indexing is not possible

KeyError: 0

In [43]:
#5. Membership can be applied only on keys not on values.

a = {1:"abc", 2:200, 2:400, 3:"xyz"}
print(1 in a)
print("abc" in a)

True
False

In [44]:
#6. Dictionary is mutable.

a[1] = "mpk"
print(a)

{1: 'mpk', 2: 400, 3: 'xyz'}

In [46]:
emp_data = {'name': "kriti", 'salary': 300000, 'age':36}
print(emp_data, type(emp_data))

emp_data["salary"] = 350000
print(emp_data)

{'name': 'kriti', 'salary': 300000, 'age': 36} <class 'dict'>
{'name': 'kriti', 'salary': 350000, 'age': 36}

In [48]:
#Methods of Dictionary

print(dir(emp_data))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [49]:
#'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values'

In [ ]:
#'', 'copy', '', '', '', '', '', '', '', '', ''

In [52]:
#How to access the data?

#get
#setdefault
#update

#get

"""if key is present, return its value else return default value."""

emp_data = {'name': "kriti", 'salary': 300000, 'age':36}

print(emp_data.get('salary'))
print(emp_data.get('id'))

300000
None

In [58]:
#setdefault

"""insert the key with the value of the default if the key is not present else return the value of key"""

print(emp_data.setdefault("age"))
print(emp_data)

emp_data = {'name': "kriti", 'salary': 300000, 'age':36}
(emp_data.setdefault("id", 3978))
print(emp_data)

36
{'name': 'kriti', 'salary': 300000, 'age': 36, 'id': None}
{'name': 'kriti', 'salary': 300000, 'age': 36, 'id': 3978}

In [60]:
#Update

a = {1:"abc", 2:"xyz"}
b = {4:"mpq", 3:"gth"}

a.update(b)
print(a)

{1: 'abc', 2: 'xyz', 4: 'mpq', 3: 'gth'}

In [63]:
#Methods to delete the items from dictionary

#pop - removes specified k & return the corresponding value. If k is not present, default is returned
       #else raise error.
    
#popitem -  it removes only last k,v pair 

#if key is present:

a = {1:"abc", 2:"xyz"}
a.pop(2)
print(a)

a.pop(3)
print(a)

{1: 'abc'}

KeyError: 3

In [67]:
a = {1:"abc", 2:"xyz", 3:"djcc", 4:"ediu"}
a.popitem()
print(a)

a = {1:"abc", 2:"xyz", 3:"djcc", 4:"ediu"}
a.popitem(2)
print(a)

# a.pop(3)
# print(a)

{1: 'abc', 2: 'xyz', 3: 'djcc'}

TypeError: dict.popitem() takes no arguments (1 given)

In [70]:
#values:

a = {1:"abc", 2:"xyz", 3:"djcc", 4:"ediu"}

x = a.values()
print(x)

emp_data = {'name': "kriti", 'salary': 300000, 'age':36}
z=emp_data.values()
print(type(z))

dict_values(['abc', 'xyz', 'djcc', 'ediu'])
<class 'dict_values'>

In [72]:
#keys:

y = emp_data.keys()
print(type(y))

<class 'dict_keys'>

In [73]:
emp_data = {'name': "kriti", 'salary': 300000, 'age':36}
z=emp_data.values()

In [79]:
#items:

car = {"brand": "BMW",
      "model": "m5",
      "year": "2024"}

f = car.items()
print(dict(f))

{'brand': 'BMW', 'model': 'm5', 'year': '2024'}

In [81]:
#fromkeys: it returns a dictionary with the specified keys and a value

a = {'key1', 'key2','key3'}
y = "abccc", "dhjd"
g = dict.fromkeys(a,y)
print(g)

{'key2': ('abccc', 'dhjd'), 'key1': ('abccc', 'dhjd'), 'key3': ('abccc', 'dhjd')}

In [82]:
#clear: removes all the elements from the dictionary

car.clear()
print(car)

{}

In [83]:
#Assignments:

1.Given a list of products, print out the name of all the products with a price higher than 10 Hint: Use Dictionary 
    products = [ {'name': 'orange', 'price': 20},
    {'name': 'apple', 'price': 8},
    {'name': 'banana', 'price': 10},
    {'name': 'kiwi', 'price': 30} ]

2. Take two list of numbers of products quantities and prices and calculate total
   Use list and aggregation Input
    product_quantities = [13, 5, 6, 10, 11]
    prices = [1.2, 6.5, 1.0, 4.8, 5.0]
    Output Total = 157.1
    
3.Give a list of tickets for candidates, find out who is the winner
Ex: [‘a’, ‘b’, ‘a’, ‘c’, ‘a’] Here there are total 3 candidates contesting ‘a’, ‘b’ and ‘c’.
And winner is ‘a’ as he got the highest votes

In [85]:
#List Comprehension:
"""It offers a shorter syntax when you want to create a new list based on the values of an existing list"""

car = ["BMW", "Audi", "Ferrari", "Tesla", "TATA nano"]

# new_list = []

# for i in car:
#     if 'e' in i :
#         new_list.append(i)
# print(new_list)


new_list = [i for i in car if 'e' in i]

print(new_list)

['Ferrari', 'Tesla']

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]