In [9]:
#Pop() - it removes the indicated index element of the list & returns that element
         #when there is no index, it provides last element.

#syntax: list_name.pop(index)

var = [3, 7, 4.5, 9]
print(var)

print(var.pop())
print(var)

[3, 7, 4.5, 9]
9
[3, 7, 4.5]

In [2]:
# '', '', 'copy', '', '', '', '', '', '', '', ''

In [5]:
#remove - it removes the first occurence of the value from a list and it returns none.
#list.remove() takes exactly one argument.

var.remove(7)
print(var)

[3, 4.5]

In [10]:
lst = [4, 60, 38, 20, 20, 20, 20, 46]

print
lst.remove(20)
print(lst)
lst.pop(-2)
print(lst)

[4, 60, 38, 20, 20, 46]

In [7]:
print(lst)

[4, 60, 38, 20, 20, 20, 46]

In [8]:
lst.remove()

TypeError: list.remove() takes exactly one argument (0 given)

In [14]:


lst = [1, 6, 3, 8]
lst.reverse()
print(lst)


print(lst.append(123))
# print(lst)

[8, 3, 6, 1]
None

In [16]:
#Sort function:

print(lst.sort())
print(lst)

None
[1, 3, 6, 8, 123]

In [18]:
print(sorted(lst))

[1, 3, 6, 8, 123]

In [20]:
lst = [3, 7, 8, 36, 23, 14]
print(sorted(lst))

[3, 7, 8, 14, 23, 36]

In [22]:
lst = [93, 67, 36, 123]
print(sorted(lst))
print(lst)

[36, 67, 93, 123]
[93, 67, 36, 123]

In [23]:
#sort() and sorted() both can be used to arrange our list in asc and desc order but the difference is 
#sort function works on the memory location and in sorted it will just show your value sorted type.
#Sort function works only for homogeneous type of elements
#It returns none.

In [25]:
#for desc order,

lst.sort(reverse=True)
print(lst)

[123, 93, 67, 36]

In [26]:
lst1 = ['a', 'rrr', 'omg', 'dth']

lst1.sort()
print(lst1)

['a', 'dth', 'omg', 'rrr']

In [28]:
lst1 = ['python', 10, 50, 89.56, True, None, 'a']

lst1.sort()
print(lst1)

TypeError: '<' not supported between instances of 'int' and 'str'

In [31]:
lst2 = [10, 20.6, 38, 79, 68.5, 890]

lst2.sort()
print(lst2)
type(lst2)

[10, 20.6, 38, 68.5, 79, 890]

list

In [55]:
#Copy - 2 types:
    #a. Shallow copy
    #b. Deep Copy
    
#Mutable type: it only works for List & Dictionary

#Aliasing - Giving a different name to an existing object



# a=1000
# b=1000

a=999
b=999

print("before aliasing:")
print(a, id(a))
print(b, id(b))

#b=a #Aliasing
print("after aliasing")
print(a, id(a))
print(b, id(b))

before aliasing:
999 2637407191376
999 2637407192944
after aliasing
999 2637407191376
999 2637407192944

In [41]:
a = [10, 20, 30]
b=a #aliasing
print("original list/a list:",a, id(a))
print("copied list/b list:",b, id(b))

b[0]=100
print("original list/a list:",a, id(a))
print("copied list/b list:",b, id(b))

original list/a list: [10, 20, 30] 2637406970496
copied list/b list: [10, 20, 30] 2637406970496
original list/a list: [100, 20, 30] 2637406970496
copied list/b list: [100, 20, 30] 2637406970496

In [46]:
#Shalow copy - list.copy(), list[::]-slicing

#Slicing and copy method will create new object in different memory location.

#If you want to update your value in copied list , you should use shalow copy.

a = [10, 20, 30]
b=a.copy() #even though here aliasing is happening but in different memory loaction

print("b4 operation:")
print(a, id(a))
print(b, id(b))

b[0]=898

print("after operation:")
print(a, id(a))
print(b, id(b))

b4 operation:
[10, 20, 30] 2637406911488
[10, 20, 30] 2637407258944
after operation:
[10, 20, 30] 2637406911488
[898, 20, 30] 2637407258944

In [56]:
a = [10, 20, 30]
b=a[::]

print("b4 operation:")
print(a, id(a))
print(b, id(b))

b[0]=898

print("after operation:")
print(a, id(a))
print(b, id(b))

b4 operation:
[10, 20, 30] 2637407263488
[10, 20, 30] 2637407266816
after operation:
[10, 20, 30] 2637407263488
[898, 20, 30] 2637407266816

In [ ]:
# #DeepCopy
# #whenever there is nested list, do deepcopy.

# from copy import deepcopy

# a = [10, 40, 10,[26, 78], 90]
# b=a.copy()

# # print(a, id(a))
# # print(b, id(b))

# # b[2]=876
    
# # print(a)
# # print(b)

# #b[3][0]=2600

# # print(a, id(a))
# # print(b, id(b))
# b = deepcopy(a)

# b[3][0]=376
# print(a, id(a))
# print(b, id(b))

# Tuple:

In [68]:
# Tuple is similar to list but it is immutable, secure and fast to retreive data.

tpl = (10, 30, 50, 28)
print(tpl, type(tpl))

(10, 30, 50, 28) <class 'tuple'>

In [69]:
tpl = 38, 56, 28, 10
print(type(tpl))

<class 'tuple'>

In [73]:
tpl = (10,) 
print(type(tpl))

lst = [1]
print(type(lst))

<class 'tuple'>
<class 'list'>

In [74]:
#Creation of Tuple:

tpl1 = tuple('python')
tpl2 = tuple([1,7,3])
tpl3 = tuple((2, 6, 8))
tpl4 = tuple({1:10, 2:30, 5:40})

print(tpl1, tpl2, tpl3, tpl4)

('p', 'y', 't', 'h', 'o', 'n') (1, 7, 3) (2, 6, 8) (1, 2, 5)

In [77]:
tpl = tuple(input("enter your tuple:"))
print(tpl)
tpl = eval(input("enter your tuple:"))
print(tpl)

enter your tuple:(2, 6, 8)
('(', '2', ',', ' ', '6', ',', ' ', '8', ')')
enter your tuple:(2, 6, 8)
(2, 6, 8)

In [78]:
tpl = (2, 6, 7)

tpl[0] = 120

print(tpl)

TypeError: 'tuple' object does not support item assignment

In [83]:
tpl = (2, 6, 7)
print(id(tpl))
tpl = tpl + (90,20)
print(tpl)
print(id(tpl))

2637407381760
(2, 6, 7, 90, 20)
2637407520144

In [84]:
# # #Tuple Properties:

# # 1. Tuple is immutable:
# #     a. It does not support item re-assignment
# # #   b.  cant change the value

# # 2. Tuple is a sequence:
#     a. it is a ordered collection of elements
#     b. it supports +ve & -ve indexing 
#     c. +ve index starts from 0 i.e.LHS
#     b. -ve index starts from -1 i.e. RHS
#     d. Operation - Indexing, slicing, concatenation, repetition, Membership

In [85]:
#Tuple can have heterogeneous values.

tpl = (20, 4.3, 789, "python", None, True)
print(tpl)

(20, 4.3, 789, 'python', None, True)

In [90]:
#Tuple can duplicate values

tpl = (20, 20, 20, 4.3, 789, 'python', None, True)
print(tpl)

a = ['nandita']
print(a)

(20, 20, 20, 4.3, 789, 'python', None, True)
['nandita']

In [87]:
#Tuple Method:

print(dir(tpl))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [92]:
# ['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', 
#  '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', 
#  '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__',
#  '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__',
#  '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__',
#  '__subclasshook__', 'count', 'index']

In [93]:
#Assignments:

1.Write a program to solve a classic ancient Chinese puzzle: We count 35 heads
and 94 legs among the chickens and rabbits in a farm. How many rabbits and
how many chickens do we have? [3-marks]
Hint: Use for loop to iterate all possible solutions
    
2.Take two list of numbers and generate a list of tuples that are combo of the n
such that two numbers in the pair are not equal.[1-mark]

3. Take a sentence and output the frequency of words in the sentence.[1-mark]