In [6]:
# range = in-built function 
# Its work is to generate sequence of no.s
# range(start,stop,step)
# if you dont provide any step then bydefault it will take 1 as its step.
# the values/data goes from lower no. to higher when step is 1
# the values/data goes from higher no. to lower when step is -1
# Can be ignored, start and step but if start is not defined then 0 will be taken by default.

In [7]:
r1=range(10,20)

In [89]:
id(r1)

1958837456592

In [11]:
print(r1)

range(10, 20)

In [12]:
list(r1)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [14]:
r2=range(10,20,0)
print(r2)

ValueError: range() arg 3 must not be zero

In [15]:
r2=range(20,10)

In [16]:
list(r2)

[]

In [17]:
type(r1)

range

In [21]:
r4=range(0,9)
print(list(r4))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
r3 = range(10,20,-1)
print(r3)

print(list(r3))

range(10, 20, -1)
[]

In [27]:
r3 = range(20,10,1)

print(r3)

print(list(r3))

range(20, 10)
[]

In [28]:
r5=range(10,20,3)
print(list(r5))

[10, 13, 16, 19]

In [29]:
r6 = range(10,5,-2)
print(list(r6))

[10, 8, 6]

In [30]:
list(range(5))

[0, 1, 2, 3, 4]

In [31]:
#For Loop

In [33]:
#5 6 7 8 9
for i in range(5,10,1):
    print(i)

5
6
7
8
9

In [35]:
for i in range(5,15,2):
    print(i)

15
13
11
9
7

In [36]:
for i in range(15,5,-2):
    print(i)

15
13
11
9
7

In [39]:
for i in range(0,3):
    for j in range(0,1,1):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [41]:
for i in range(0,3,1):
    for j in range(0,3,1):
        print(i,j)
    print("Here")

0 0
0 1
0 2
Here
1 0
1 1
1 2
Here
2 0
2 1
2 2
Here

In [45]:
#break - it is used come out of a loop.

for i in range(5):
    if i == 2:
        break
    print(i)
    
print("out of for-loop")

0
1
out of for-loop

In [44]:
#Continue - skips all the statement after 'continue' & gives the control to the loop.

for i in range(5):
    if i==2:
        continue
    print(i)
print("out of for loop")

0
1
3
4
out of for loop

In [46]:
for i in range(5):
    if i==2:
        continue
    print(i**3)
print("out of for loop")

0
1
27
64
out of for loop

In [52]:
# pass = it is used as a placeholder, it does nt do anything.
# It simply passes the control to next statement.

for i in range(5):
    if (i==2):
        pass
    else:
        pass

In [53]:
#Enumerate

profits = [10, 12.6, 70, 30]

for i, j in enumerate(profits):
    print(i,j)

0 10
1 12.6
2 70
3 30

In [57]:
for i, j in enumerate(profits, start = 50):
    print(i,j)

50 10
51 12.6
52 70
53 30

In [55]:
p2 = 'py py py py py is python'

p2.find('y')

1

In [59]:
#want all the index where 'y' is present 

for i, j in enumerate(p2):
    print(i,j)

0 p
1 y
2
3 p
4 y
5
6 p
7 y
8
9 p
10 y
11
12 p
13 y
14
15 i
16 s
17
18 p
19 y
20 t
21 h
22 o
23 n

In [60]:
p2='py py py py py is python'

for i, j in enumerate(p2):
    if(j=='y'):
        print(i,j)

1 y
4 y
7 y
10 y
13 y
19 y

In [61]:
count = 0
for i in p2:
    if i == 'y':
        count += 1
print(count)

6

In [62]:
ind = 0
for i in p2:
    if(i=='y'):
        print(ind)
    ind += 1

1
4
7
10
13
19

In [64]:
a,b = 10,20
print(a,b)

10 20

In [72]:
var1 = 'hello'
var2 = 'hey'
var3 = 'python'

print(var1)
print(var2)
print(var3)

hello
hey
python

In [66]:
print(var1, end='')
print(var2)

hellohey

In [69]:
print(var1, end='\n')
print(var2)

hello
hey

In [70]:
print(var1, end='\n')
print(var2)

hello
hey

In [74]:
print(var1, end='')
print(var2, end='')
print(var3)

helloheypython

In [76]:
print(var1,var2,var3)

hello hey python

In [88]:
p3 = "python is a language"
l4=p3.split()
print(l4)

for i in range(len(l4)):
    print(l4[i], end='')

['python', 'is', 'a', 'language']
pythonisalanguage

In [87]:
print(p3)
p4=''.join(l4)
print(p4)

python is a language
pythonisalanguage