# Comprehension

How to find if data type is iterable or not?

1. len() - if you are able to find length of your data type then it is iterable.
2. dir(datatype) - then search for "_iter_"

In [ ]:
dir(float)

Syntax: [expression for var in iterable if condition]

In [7]:
num = [1, 3, 7, 8]
result = []

for i in num:
    i = i*2
    result.append(i)
print(result)

[2, 6, 14, 16]

In [8]:
result = [i*2 for i in num]
print(result)

[2, 6, 14, 16]

In [18]:
stringss = ['priya', 'ankita','gita', 'ram']
res = []

In [19]:
for i in stringss:
    #i = i.upper()
    res.append(i.upper())

print(res)

['PRIYA', 'ANKITA', 'GITA', 'RAM']

In [14]:
ress = [i.upper()+"hey" for i in stringss]
print(ress)

['PRIYAhey', 'ANKITAhey', 'GITAhey', 'RAMhey']

In [15]:
outputlst = []
for i in range(1,10):
    outputlst.append(i**2)
print(outputlst)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
outputlst = [i**2 for i in range(1,10)]
print(outputlst)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
#Square of all odd no.s

odd_sq = []

for i in range(1,11):
    if i%2 == 1:
        odd_sq.append(i**2)
print(odd_sq)

[1, 9, 25, 49, 81]

In [24]:
odd_sqr = [i**2 for i in range(1,11) if i%2 ==1]
print(odd_sqr)

[1, 9, 25, 49, 81]

In [25]:
#print all no.s that is power of 2 from 1 to 8

lst2 = [1,2,3,4,5,6,7,8]

power_of_2 = []

for x in range(1,9):
    power_of_2.append(2**x)
print(power_of_2)

[2, 4, 8, 16, 32, 64, 128, 256]

In [26]:
lst1 = []

for x in range(1,11):
    if x%2 == 1:
        lst1.append(x**2)
        
    else:
        lst1.append(x*2)
        
print(lst1)

[1, 4, 9, 8, 25, 12, 49, 16, 81, 20]

In [27]:
lst11 = [x**2 if x%2==1 else x*2 for x in range(1,11) ]

In [42]:
stringsssw = "my phone no. is : 126187"

lst55 = []

for x in stringsssw:
    if (x.isdigit()) == True:
        lst55.append(x)
print(lst55)

['1', '2', '6', '1', '8', '7']

In [43]:
stringsssw = [x for x in stringsssw if x.isdigit()]
print(stringsssw)

['1', '2', '6', '1', '8', '7']

In [45]:
#Write a code to find list of list for multiplication table

num= int(input("enter a no.:"))
res = []
for i in range(1,11):
    res.append([num,i,num*i])
    
print(res)

enter a no.:6
[[6, 1, 6], [6, 2, 12], [6, 3, 18], [6, 4, 24], [6, 5, 30], [6, 6, 36], [6, 7, 42], [6, 8, 48], [6, 9, 54], [6, 10, 60]]

In [46]:
a = int(input("enter a no.:"))

table = [[a,b,a*b] for b in range(1,11)]
print(table)

enter a no.:2
[[2, 1, 2], [2, 2, 4], [2, 3, 6], [2, 4, 8], [2, 5, 10], [2, 6, 12], [2, 7, 14], [2, 8, 16], [2, 9, 18], [2, 10, 20]]

In [48]:
tabl =[]
for i in range(3):
    tabl.append([])
    for j in range(5):
        tabl[i].append(j)
print(tabl)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [49]:
tabll = [[j for j in range(5)] for i in range(3)]
print(tabll)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [55]:
tablll=[[1,2,3],[5,7],[7,6,3]]

# [1,2,3,5,7,7,6,3]

In [56]:
outtput = []

for i in tablll:
    for j in i:
        outtput.append(j)
print(outtput)

[1, 2, 3, 5, 7, 7, 6, 3]

In [57]:
outtput = [j for i in tablll for j in i]
print(outtput)

[1, 2, 3, 5, 7, 7, 6, 3]

# DictionaryComprehension

In [60]:
lst1 = [1,2,4, 7, 8, 34, 68]

out_dict = {}

for i in lst1:
    if i%2 != 0:
        out_dict[i] = i**3
print(out_dict)

{1: 1, 7: 343}

In [61]:
outt_dictt = {i:i**3 for i in lst1 if i%2 != 0}
print(outt_dictt)

{1: 1, 7: 343}

In [62]:
cloths = ["tees","tops","jeans","sshirt"]
brand = ["levis", "puma", "nike","adidas"]

out_dicttt={}

for k,v in zip(cloths,brand):
    out_dicttt[k]=v
    
print(out_dicttt)

{'tees': 'levis', 'tops': 'puma', 'jeans': 'nike', 'sshirt': 'adidas'}

In [63]:
outt_dict = {k:v for k,v in zip(cloths,brand)}
print(outt_dict)

{'tees': 'levis', 'tops': 'puma', 'jeans': 'nike', 'sshirt': 'adidas'}

In [68]:
#set

input = [1,2,3,5,2,2,4,4,4,8,10,56,38]

out = set() #to declare a vacant set 

for var in input:
    if var %2 ==0:
        out.add(var)
print(out)

{2, 4, 38, 8, 10, 56}

In [69]:
outt = {var for var in input if var%2==0}
print(outt)

{2, 4, 38, 8, 10, 56}

In [70]:
#find count of number of spaces in a string

string = "python is a language."

answer = len([i for i in string if i ==" "])
print(answer)

3

In [74]:
#count length of each word in a string

answerr = {word:len(word) for word in string.split(" ")}
print(answerr)

{'python': 6, 'is': 2, 'a': 1, 'language.': 9}